    <aside class="left-aside">
      <div class="logo">
        Bloggy
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/food">Food</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/travel">Travel</a></li>
        </ul>
      </nav>
    </aside>
