    <aside class="left-aside">
      <div class="logo">
        Bloggy
      </div>
      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="/index">Home</a></li>
          <li><a href="/posts">Food</a></li>
          <li><a href="/posts">Technology</a></li>
          <li><a href="/posts">Travel</a></li>
        </ul>
      </nav>
    </aside>
