<aside class="left-aside">
  <a class="logo" href="/">
    Bloggy
  </a>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/posts/food">Food</a></li>
      <li><a href="/posts/technology">Technology</a></li>
      <li><a href="/posts/travel">Travel</a></li>
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</aside>
