<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bloggy</title>
  <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/sorts-mill-goudy" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/68b898f6044bbee439423445076f3168?family=Roxborough+CF+Thin"
    rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">
</head>

