<%- include("partials/header.ejs") %>
<body>
  <div class="wrapper">
    <%- include("partials/aside.ejs") %>
    <div class="compose-blog">
      <form method="post" action="">
        <label for="blog-title">Title:</label><br>
        <input type="text" name="blog-title" value="" placeholder="Write the Title of your Blog Here ..."><br>
        <label for="category">Category:</label><br>
        <select id="category" name="category">
          <option value="Food">Food</option>
          <option value="Technology">Technology</option>
          <option value="Travel">Travel</option>
        </select><br />
        <label for="blog-content">Blog Content</label><br>
        <textarea rows="30" cols="30" name="blog-content" placeholder="Insert Blog text here ..."></textarea><br>
        <button type="submit" class="btn">Create Post</button>
      </form>
    </div>
  </div>
</body>

</html>
